<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnergieWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnergieWebApp.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="navbar">
        <ul class="navbuttons">
            <li><a asp-controller="Menu" asp-action="Beheerder" >Menu</a></li>
            <li><a href="Home.html">Mijn energieverbruik</a></li>
            <li><a asp-controller="Devices" >Apparaten</a></li>
            <li><a href="Home.html">Account</a></li>
            <li><a href="Home.html">Huishouden</a></li>


        </ul>
        <img src="~/resources/banner.png" />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
