    @model CreateDayDataModel

@{
    ViewData["Title"] = "Create";
    Layout = null;  
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<img class="banner" src="~/resources/banner.png" />

<h1>Create</h1>

<h4>DayData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Datum</label>
                <input asp-for="Date" class="form-control" type="date" value="@DateTime.Today" />
                <span asp-validation-for="Date" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh" class="control-label"></label>
                <input asp-for="Kwh" class="form-control" />
                <span asp-validation-for="Kwh" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="accID" value="@Model.accID" />
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
