@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
</head>

<img class="banner" src="~/resources/banner.png" />


<form asp-action="Login" method="POST">
    <div id="login"><label for="Username"><b>Username</b></label></div>
    <div id="UsernameInput"><input type="text" name="Username" required autocomplete="off"></div>

    <div id="login"><label for="Password"><b>Wachtwoord</b></label></div>
    <div id="PasswordInput"><input type="password" name="Password" required autocomplete="off" div>

    <div type="submit" id="login"><button>Login</button></div>

</form>
<a asp-controller="Users" asp-action="Create">Nieuw account maken</a>
 