@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="scoretable">
        <thead>
            <tr>
                <th style="width:50%">
                    Naam
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(item.Name ?? "No Name")</td>
                        <td>@(item.Score.HasValue ? item.Score.ToString() : "N/A")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No data available</td>
                </tr>
            }
        </tbody>
    </table>
</div>
