@model EnergieWebApp.Modelview.UserHomeViewModel
@{
    ViewData["Title"] = "User home";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<header class="navbar">
    <ul class="navbuttons">
        <li><a asp-controller="MyUsage" asp-action="Index" asp-route-accID="@Model.User.AccountId" target="_blank">Mijn energieverbruik</a></li>
        <li><a asp-controller="Devices" asp-action="Index">Apparaten</a></li>
        <li><a asp-controller="Households">Huishouden</a></li>


    </ul>
    <img src="~/resources/banner.png" />
</header>

<div class="text-center">
    <h1 class="display-4">Welkom</h1>



    <div>
        <table class="scoretable">
            <thead>
                <tr>
                    <th style="width:50%">
                        Naam
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Scores.Any())
                {
                    @foreach (var item in Model.Scores.OrderBy(s => s.Item2.HasValue && s.Item2 != 0 ? s.Item2.Value : double.MaxValue))
                    {
                        <tr>
                            <td>@(item.Item1 ?? "No Name")</td>
                            <td>@(item.Item2.HasValue ? item.Item2.Value.ToString("N2") : "N/A")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">No data available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
