@model EnergieWebApp.Models.Household

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Household</h4>
    @if (Model.Devices != null && Model.Devices.Any())
    {
        <ul>
            @foreach (var Device in Model.Devices)
            {
                <li>
                    @Device.Name - Value: @Device.Name
                    <p>Description: @Device.Kwh</p>

                </li>
            }
        </ul>
    }
    else
    {
        <p>No collectables found for this collection.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a> </a>
</div>
