@model dynamic

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<img class="banner" src="~/resources/banner.png" />

<h1>Details</h1>

<div>
    @Model.Household.Name

    @if (Model.Devices.Count > 0)
    {
        <ul>
            @foreach (var Device in Model.Devices)
            {
                <li>
                    @Device.Name
                    <p>Kwh: @Device.Kwh</p>

                </li>
            }
        </ul>
    }
    else
    {
        <p>Huishouden is leeg.</p>
    }
</div>


<div class="myUsageButton">
    <a href=/./Households/Delete/@Model.Household.Id class="textbutton">Verwijderen</a> |
    <a asp-action="Index" class="textbutton">Terug</a>
    <a> </a>
</div>
