@model dynamic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @Model.Household.Name

    @if (Model.Devices.Count > 0)
    {
        <ul>
            @foreach (var Device in Model.Devices)
            {
                <li>
                    @Device.Name
                    <p>Kwh: @Device.Kwh</p>

                </li>
            }
        </ul>
    }
    else
    {
        <p>houshold is leeg.</p>
    }
</div>


<div>
    <a asp-action="AddToHoushold" asp-controller="Devices" class="textbutton">Edit</a> |
    <a asp-action="Index" class="textbutton">Back to List</a>
    <a> </a>
</div>
