@model IEnumerable<EnergieWebApp.Models.Household>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="textbutton">add Household</a>
    <a href="Devices" class="textbutton"> add device</a>
</p>

<body>
    <div>
        @foreach (var device in Model)
        {
            <a asp-action ="Details" asp-route-id="@device.Id" class="rectangle">
                @Html.DisplayNameFor(model => model.Name)
                @Html.DisplayFor(modelItem => device.Name)
            </a>
            

        }
    </div>

</body>

