@model IEnumerable<EnergieWebApp.Models.Household>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">add Household</a>
</p>

<body>
    <div>
        @foreach (var device in Model)
        {
            <a asp-action ="Details" asp-route-id="@device.Id" class="rectangle">
                @Html.DisplayNameFor(model => model.Name)
                @Html.DisplayFor(modelItem => device.Name)
                @* @Html.DisplayFor(modelItem => device.Kwh) *@
            </a>
            

        }
    </div>

</body>

