@model IEnumerable<EnergieWebApp.Models.Household>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">add Household</a>
</p>

<body>
    <div>
        @foreach (var device in Model)
        {
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(modelItem => device.Name)

        }
    </div>

</body>

